{% extends 'base.html' %}

{% block title %}Professor Information{% endblock %}

{% block content_header %}My Information{% endblock %}

{% block navbar_top %}

    <li><a href="/ppa/professor/">My Projects</a></li>
    <li class="active"><a href="/ppa/professor/my_info/">My Info</a></li>

{% endblock %}

{% block content %}

    {% if updated %}

    <p>The information has been updated!</p>

    {% else %}

      <p style="color:green">If you are logging in for the first time, make sure to change the fields below and click on save</p>

    {% endif %}

    <form method="post" action="{% url 'save_prof_info' %}">


    <table class="table table-striped table-bordered table-hover table-condensed">
        {% csrf_token %}

        <tr><th>Name</th><td><input type="text" name="name" value="{{ prof.name }}"  required></td></tr>
        <tr><th>Department</th><td><input type="text" name="department" value="{{ prof.department }}"  required></input></td>
        <tr><th>Email</th><td><input type="email" name="email" value="{{ prof.email }}" required></input></td></tr>


    </table>

    <input type='submit' name='submit-btn' value='Save Details' />
    </form>



{% endblock %}
